__pycache__/
*.py[cod]
*.pyo
*.pyd

assistant-bot.env
assistant-bot.env.*
!assistant-bot.env.example
.env
.env.*
*.env

bot.log
*.log
notes/

.python-version
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
venv/
.vscode/
.idea/
